.carousel {
    background-image: url(/public/img/BG.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* Theo chiều ngang nằm bên phải theo chiều dọc nằm dở dưới */
}